<main class="main-grid">
  <section class="left">
    <img
      class="img main-title"
      src="../../../assets/images/diego-moura-title.png"
      srcset="../../../assets/images/diego-moura-title@2x.png 2x"
      alt="diego moura"
      [ngClass]="animationOn ? 'slide-in-left' : ''"
    />
    <img
      class="img main-title main-title-mobile"
      src="../../../assets/images/diego-moura-title-mobile.png"
      srcset="../../../assets/images/diego-moura-title-mobile@2x.png 2x"
      alt="diego moura"
      [ngClass]="animationOn ? 'slide-in-left' : ''"
    />

    <img
      class="img main-photo"
      src="../../../assets/images/diego-moura-photo-home.png"
      srcset="../../../assets/images/diego-moura-photo-home@2x.png x2"
      alt="diego moura"
      [ngClass]="animationOn ? 'fade-in' : ''"
    />

    <img
      class="img main-photo main-photo-mobile"
      src="../../../assets/images/diego-moura-photo-mobile.png"
      srcset="../../../assets/images/diego-moura-photo-mobile@2x.png x2"
      alt="diego moura"
      [ngClass]="animationOn ? 'fade-in' : ''"
    />
  </section>
  <section class="right">
    <p class="intro-text">
      I am a Front-End developer who specializes in responsive and accessible
      web applications. Skills and experience include <span>HTML5</span>,
      <span>CSS3</span> and vanilla <span>Javascript</span>, along with
      <span>Angular2</span> and <span>React</span>. I'm also adept in current
      web technologies such as <span>Git</span>, CSS pre-processors like
      <span>Sass</span>, <span>Bootstrap</span>, restful <span>APIs</span>, and
      unit-testing libraries. To support my front-end skillset, I've also
      acquired a solid foundation in back-end development using
      <span>NodeJs</span>, <span>Django</span>, and <span>MongoDB</span> - I
      find that full coverage across the stack enables me to go the extra mile
      when creating and problem solving.
    </p>
    <div class="sub-title-wrapper">
      <img
        class="img sub-title"
        src="../../../assets/images/front-end-home.png"
        srcset="../../../assets/images/front-end-home.png x2"
        alt="front-end"
        [ngClass]="animationOn ? 'slide-in-right' : ''"
      />
    </div>
  </section>
</main>
