/* Metadata */
/* 
COLOR:
Dark Grey:  rgba(38, 36, 41, 1)
Watermelon: rgba(255, 94, 94, 1)
Light Grey: rgba(230, 230, 230, 1)
  
*/

/* --- BASIC RESET --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
    background-color: rgba(38, 36, 41, 1);
    color: rgba(230, 230, 230, 1);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
  }

.main {
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.footer{
  position: absolute;
  top: 95vh;
  left: 50vw;
  transform: translate(-50%);
}

.disclaimer {
  font-size: 4rem;
}

.disclaimer .copy{
  display: block;
}

.social-links {
  position: absolute;
  top: 70vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.icons {
  color: rgba(230, 230, 230, 1);
  margin: 15px;
}

.icons:hover{
  color: rgba(255, 94, 94, 1);
}

@media screen and (max-width:650px){

  .disclaimer .copy{
    font-size: 3rem;
  }
}

@media screen and (max-width:480px){

  .disclaimer .copy{
    font-size: 2rem;
  }
}