/* Metadata */
/* Dark Grey: #212121;
 
  */

body{
    background-color: #212121;
    color: #fff;
    font-family: sans-serif;
}
a{
  color: #fff;
}

.page-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  width: 95vw;
  height: 95vh;
}
.main{
  min-width: 65vw;
  text-align: left;
  margin-top: 70px;
}
.main h1{
  font-size: 80px;
  font-weight: lighter;
}
.social{
  min-width: 65vw;
  height: 10vh;
}
a svg{
  padding: 20px;
}
.footer{
  min-width: 50vw;
}


@media screen and (max-width:750px){
  
  body{
    font-size: 30px;
  }
  
  .main{
    text-align: left;
    margin-top: 50px;
  }

  .main h1{
    font-size: 50px;
    font-weight: lighter;
  }
  .social{
    max-width: 50vw;
  }
  .icons{
    /* margin: 30px; */
  }
  .footer{
    max-width: 50vw;
  }
}