/* Metadata */
/* Dark Grey: #212121;
 
  */

body{
    background-color: #212121;
    color: #fff;
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
}
a{
  color: #fff;
}
p{
  margin: 0;
  padding: 0;
}

.page-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  width: 90vw;
  height: 100vh;
}
.main{
  max-width: 80vw;
  margin-top: 50px;
}
.main h1{
  font-size: 85px;
  font-weight: lighter;
  text-align: justify;
  margin: 0 auto;
}
.social{
  min-width: 80vw;
}
a svg{
  padding: 20px;
}
.footer{
  flex-shrink: 0;
  min-width: 80vw;
  margin-bottom: 5px;
}