<section class="navigation__wrapper">
  <ul class="projects-list">
    <li
      class="projects-item"
      [ngClass]="currentRoute === 'word_search_game' ? 'active' : ''"
    >
      <a routerLink="./word-search-game">
        <div class="projects-info">
          <h2 class="projects-title">Word Search Game</h2>
          <p class="projects-meta">Angular 10 + pokeAPI</p>
          <p class="projects-description">Can you find all the Pokemons?</p>
        </div>
      </a>
      <div class="projects-links">
        <a href="https://pokemon-ws-game.netlify.app/" target="blank"
          ><span class="projects-icon"><i class="fas fa-desktop"></i></span
        ></a>
        <a
          href="https://github.com/diegomouradev/pokemon-ws-game"
          target="blank"
          ><span class="projects-icon"><i class="fab fa-github"></i></span
        ></a>
      </div>
    </li>
    <li
      class="projects-item"
      [ngClass]="currentRoute === 'memory_game' ? 'active' : ''"
    >
      <a routerLink="./memory-game">
        <div class="projects-info">
          <h2 class="projects-title">Memory Game</h2>
          <p class="projects-meta">React + pokeAPI</p>
          <p class="projects-description">
            Test you memory, beat your highest score.
          </p>
        </div>
      </a>
      <div class="projects-links">
        <a href="https://pokemon-memory-game-react.netlify.app/" target="blank"
          ><span class="projects-icon"><i class="fas fa-desktop"></i></span
        ></a>
        <a
          href="https://github.com/diegomouradev/pokemon-memory-game"
          target="blank"
          ><span class="projects-icon"><i class="fab fa-github"></i></span
        ></a>
      </div>
    </li>
    <li
      class="projects-item"
      [ngClass]="currentRoute === 'nested_todos' ? 'active' : ''"
    >
      <a routerLink="./nested-todos">
        <div class="projects-info">
          <h2 class="projects-title">NestedTodos</h2>
          <p class="projects-meta">Vanilla JS + localStorage</p>
          <p class="projects-description">
            The Matryoshka Doll of the "To do" lists.
          </p>
        </div>
      </a>
      <div class="projects-links">
        <a href="https://nestedtodos.netlify.app/view/#/all" target="blank"
          ><span class="projects-icon"><i class="fas fa-desktop"></i></span
        ></a>
        <a href="https://github.com/diegomouradev/nestedTodos" target="blank"
          ><span class="projects-icon"><i class="fab fa-github"></i></span
        ></a>
      </div>
    </li>

    <li
      class="projects-item"
      [ngClass]="currentRoute === 'django_heroku' ? 'active' : ''"
    >
      <a routerLink="./django-portfolio">
        <div class="projects-info">
          <h2 class="projects-title">Django Portfolio</h2>
          <p class="projects-meta">Django + Heroku</p>
          <p class="projects-description">
            Unchain the power of server side programming!
          </p>
        </div>
      </a>
      <div class="projects-links">
        <a href="https://diegomouradev.herokuapp.com/" target="blank"
          ><span class="projects-icon"><i class="fas fa-desktop"></i></span
        ></a>
        <a
          href="https://github.com/diegomouradev/portfolio_heroku.git"
          target="blank"
          ><span class="projects-icon"><i class="fab fa-github"></i></span
        ></a>
      </div>
    </li>
  </ul>
</section>
