@import "../../../sass/variables.scss";
@import "../../../sass/mixins";
@import "../../../sass/animations";

.main-header {
  position: absolute;
  width: 100%;
  top: -10rem;
  left: 0;
  background-color: $main-blue;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

  @include respond(wid-600) {
    top: -20rem;
  }

  &__active {
    position: absolute;
    top: 0rem;
    z-index: 10;

    @include respond(wid-600) {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 0.5fr;

  &__links {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    justify-content: space-around;

    @include respond(wid-600) {
      width: unset;
      flex-wrap: unset;
      flex-direction: column;
    }
  }

  &__link {
    padding: 1rem 0;

    @include respond(wid-600) {
      padding: 0;
    }
    & a {
      color: $main-green;
      font-size: 1.8rem;
      font-weight: 300;

      @include respond(wid-600) {
        font-size: 2.4rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__active {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      reverse both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;

    @include respond(wid-600) {
      display: block;
      grid-template-columns: unset;
    }
  }

  &__toggle {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    cursor: pointer;
    z-index: 20;

    @include respond(wid-600) {
      top: 1rem;
      right: 1rem;
      width: 5rem;
      height: 5rem;
      background-color: $main-grey;
      border-radius: 100%;
      box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.main-header__active ~ .navigation__toggle {
  @include respond(wid-600) {
    background-color: $main-blue;
  }
}

.navigation__link a.active {
  text-decoration: underline;
}

.social {
  &__links {
    grid-column: 2/3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  &__link {
    padding: 1rem;
    & a {
      color: $main-green;
      font-size: 1.8rem;
      font-weight: 300;

      @include respond(wid-600) {
        font-size: 2.4rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-top 0.5s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
