body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100vh;
}

.left {
  background-color: #2786f5;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr;
}

.main-title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: #b9f18c;
}

.main-photo {
  height: 100vh;
  filter: grayscale();
  grid-column: 1/2;
  grid-row: 1/3;
  justify-self: center;
}

.img {
  width: 100%;
}

.intro-text {
  grid-column: 1/2;
  grid-row: 2/3;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 246px;
  font-size: 16px;
  color: #79797c;
  line-height: 1.2;
  padding: 0 50px;
  text-align: right;
}

.intro-text span {
  color: #46494c;
  font-weight: 700;
}

.sub-title-wrapper {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
