<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../public/css/styles.css">

    <!-- Font -->
    <link rel="stylesheet" href="https://use.typekit.net/ppc5xxv.css">
    <title>nestedTodo</title>
</head>

<body class="body">
    
    <main class="app">
        
        <h1 class="heading-primary">
            listCeption
        </h1>

         <!-- Input todo -->
         <div class="main-input__container">
            <input type="text" name="task-input" class="task-input" placeholder="Your task goes here!" autofocus>
            <input type="submit" value="Save" class="add-task__btn">
        </div>

        <header id="header" class="header">
            <!-- JS content to be inject here -->
        </header>
       
        <ul class="tasks-collection">
            <!-- JS content to be inject here -->
        </ul>
   
    </main>    

    <footer class="page-footer"></footer>
    <script src="../public/js/index.js"></script>
</body>
</html>