body {
  font-family: $RBC-roboto;
  color: $black;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: minmax(90rem, min-content) minmax(51.5rem, min-content) minmax(64.4rem, min-content) minmax(27.4rem, min-content) minmax(80.6rem, min-content);

  @media only screen and (max-width: $bp-small) {
    grid-template-rows: minmax(max-content, 800px) minmax(max-content, 1fr) minmax(64.4rem, min-content) minmax(27.4rem, min-content) minmax(80.6rem, min-content);
  }
}