.header {
  grid-row: 1 / 2;
  
  background-image: url(https://res.cloudinary.com/djot2xc6w/image/upload/v1605170704/rbc-live/src/Images/homepage-hero_hxyh09.jpg);
  background-size: cover;
  background-position: center;
  padding: $header-padding;

  display: grid;
  grid-template-rows: min-content max-content;
  grid-template-columns: 1fr 2fr;

  @media only screen and (max-width: $bp-largest) {
    background-image: linear-gradient(rgba(231, 238, 241, 0.7),rgba(231, 238, 241, 0.7)), url(https://res.cloudinary.com/djot2xc6w/image/upload/v1605170704/rbc-live/src/Images/homepage-hero_hxyh09.jpg);
  }

  @media only screen and (max-width: $bp-small) {
    padding: $mb-header-padding;
    padding-top: 20px;
    display: block;
  }
}

.header-content {
  font-family: $RBC-display;
  text-align: right;
  justify-self: end;

  &__container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: grid;
    margin-top: 20.6rem;

  }

  &__heading {
    @extend .header-content;
    font-size: $xlarge;
    line-height: 5.8rem;
    font-weight: 400;
    
    @media only screen and (max-width: $bp-small) {
      font-size: 42px;
      line-height: 58px;
    }
  }

  &__copy {
    @extend .header-content;
    font-size: $default;
    max-width: 50rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 20px;
      line-height: 34px;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 20px;
      line-height: 34px;
    }
  }
}

.nav {

  &__container{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: grid;
  }

  &__logo-svg {
    grid-column: 1 / 2;
    align-self: center;
  }

  &__hamburger-container {
    grid-column: 2 / 3;
    justify-self: end;
    align-self: center;

    @media only screen and (max-width: $bp-medium) {
      align-self: start;
    }
  }

  &__checkbox {
    display: none;
  }

  &__menu {
    font-family: $RBC-roboto;
    font-size: $default;
    margin-right: 3rem;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }
    
  &__hamburguer-btn {
    position: relative;
    display: inline-block;
    background-color: $black;
    cursor: pointer;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 5rem;
      height: 5px; // use pixel instead of rems to keep same size when media queries get applied
      transition: all .2sec ease;

      @media only screen and (max-width: $bp-small) {
        height: 3px;
      }
    }

    &::before,
    &::after {
      content: "";
      background-color: $black;
      position: absolute;
    }

    &::before {
      top: -1.5rem;
      left: 0;
    }
    
    &::after {
      top: 1.5rem;
      left: 0;
    }
  }

  &__hamburguer-btn:hover::before {
    top: -1.8rem;
  }
  
  &__hamburguer-btn:hover::after {
    top: 1.8rem;
  }
}