@import "./variables";
.headline1,
h1 {
  font-family: "Source Code Pro";
  font-size: 10.5rem;
}
.headline2,
h2 {
  font-family: "Source Code Pro";
  font-size: 6.6rem;
}
.headline3,
h3 {
  font-family: "Source Code Pro";
  font-size: 5.2rem;
}
.headline4,
h4 {
  font-family: "Source Code Pro";
  font-size: 3.7rem;
}
.headline5,
h5 {
  font-family: "Source Code Pro";
  font-size: 2.6rem;
}
.headline6,
h6 {
  font-family: "Source Code Pro";
  font-size: 2.2rem;
}
.body1,
p {
  font-family: "Source Code Pro";
  font-size: 1.6rem;
  color: $light-grey;
}
.body2 {
  font-family: "Source Code Pro";
  font-size: 1.5rem;
}
.subtitle1 {
  font-family: "Source Code Pro";
  font-size: 1.7rem;
}
.subtitle2 {
  font-family: "Source Code Pro";
  font-size: 1.5rem;
}
.button-text {
  font-family: "Source Code Pro";
  font-size: 1.5rem;
}
.overline {
  font-family: "Source Code Pro";
  font-size: 1.1rem;
}
.caption {
  font-family: "Source Code Pro";
  font-size: 1.3rem;
}
