/* ----------- IMPORT ---------- */
/* ----------- RESET ---------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'proxima-nova',sans-serif;
  font-weight: 300;
  font-style: normal; }

body {
  box-sizing: border-box;
  padding: 5rem;
  height: 100%; }

.body {
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) minmax(50rem, 1fr) 1fr;
  grid-template-rows: auto;
  background-color: #242423;
  color: #a9b0ac; }

.app {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  border-radius: 1rem;
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=333533ff&noise=626262&density=31&opacity=11);
  box-shadow: 9px 9px 44px -20px rgba(0, 0, 0, 0.78); }

.edit-task-view {
  display: none; }

.task-list-item.editing-on .edit-task-view.on {
  display: block; }

.task-list-item.editing-on .task-view {
  display: none; }

.task-list-item.completed label {
  text-decoration: line-through; }

.task-list-item.completed ul {
  display: none; }

.task-list-item.completed .edit-task__btn {
  display: none; }

.task-list-item.completed .subtask-adding-view__btn {
  display: none; }

.heading-primary {
  font-family: inherit;
  font-weight: 900;
  font-size: 6rem;
  text-align: center;
  color: #333;
  margin-bottom: 3rem;
  animation-name: heading;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

@keyframes heading {
  0% {
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.2); }
  10% {
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3); }
  25% {
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.4); }
  35% {
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.5); }
  50% {
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.5); }
  60% {
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.4); }
  85% {
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.3); }
  95% {
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.2); }
  100% {
    text-shadow: 2px 1px 6px rgba(0, 0, 0, 0.2); } }

.heading-secondary {
  margin: 1rem;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  color: #999; }

.tasks-collection {
  width: 100%;
  height: auto;
  list-style: none;
  margin-top: 2rem; }

.subtask-collection {
  height: auto;
  list-style: none;
  margin-left: 1rem; }

.tasks-collection > .task-list-item {
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem; }

.main-input__container {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-row: 1fr; }

.task-input {
  width: 100%;
  outline: none;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-bottom: 3rem;
  background-color: transparent;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 400;
  color: #a9b0ac;
  border-radius: 3rem;
  border: 0.1rem solid #00b4d8;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all .3s; }
  .task-input:focus {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    border: 0.18rem solid #00b4d8; }

.task-input::placeholder {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  color: #999; }

.add-task__btn {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 100;
  color: transparent;
  text-align: center;
  cursor: pointer;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  background-color: transparent;
  border: 0.1rem solid #00b4d8;
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
  transform: translate(-1rem, 1.3rem);
  transition: all .3s ease-in-out; }
  .add-task__btn:hover {
    width: 6rem;
    color: #999; }

.header {
  width: 70%;
  margin: 0 auto; }

#filters {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

a {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.5rem;
  border: 0.0rem solid transparent;
  transition: all .5s ease-in; }
  a:link {
    color: #999; }
  a:visited {
    color: #999; }
  a:hover {
    color: #999;
    border-bottom: 0.1rem solid #00b4d8; }
  a:active {
    color: #999;
    border-bottom: 0.1rem solid #00b4d8; }
  a.selected {
    border-bottom: 0.1rem solid #00b4d8; }

.tasks-left {
  color: #00b4d8;
  font-size: 1.6rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem; }

.task-list-item .task-view {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 3rem 1fr repeat(3, 2rem) 0.5rem;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  justify-items: center;
  border-bottom: 0.1rem solid #242423; }

.toggle {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  margin-left: 1.5rem;
  z-index: 100;
  cursor: pointer;
  visibility: hidden;
  transition: all .3s ease-in-out; }
  .toggle::before {
    content: '';
    display: flex;
    background-color: transparent;
    border: 0.1rem solid #00b4d8;
    border-radius: 3rem;
    width: 2rem;
    height: 2rem;
    margin-top: -.3rem;
    visibility: visible; }

.toggle:checked::before {
  content: '\2713';
  font-size: 1.5rem;
  line-height: 77%;
  color: #242423;
  display: flex;
  background-color: #00b4d8;
  border: 0.5rem solid #00b4d8;
  border-radius: 3rem;
  width: 2rem;
  height: 2rem;
  margin-top: -.4rem;
  transition: all .3s ease-in-out;
  visibility: visible; }

.task-value {
  grid-column: 1 / span 6;
  grid-row: 1 / -1;
  width: 100%;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 100;
  color: #999;
  padding: 1rem 15rem 1rem 5rem; }

.subtask-adding-view__btn {
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 100;
  color: #00b4d8;
  text-align: center;
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  background-color: transparent;
  border: none;
  transition: all .3s ease-in-out;
  padding: 0.5rem;
  opacity: 0; }

.task-list-item .task-view .subtask-adding-view__btn:hover {
  transform: scale(1.3);
  color: limegreen; }

.delete-task__btn {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 100;
  color: #00b4d8;
  text-align: center;
  grid-column: 4 / 5;
  grid-row: 1 / -1;
  background-color: transparent;
  border: none;
  transition: all .3s ease-in-out;
  margin-bottom: .3rem;
  opacity: 0; }

.task-list-item .task-view .delete-task__btn:hover {
  transform: scale(1.3);
  color: crimson; }

.edit-task__btn {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 100;
  color: #00b4d8;
  text-align: center;
  grid-column: 5 / 6;
  grid-row: 1 / -1;
  background-color: transparent;
  border: none;
  margin-bottom: 0.3rem;
  transition: all .3s ease-in-out;
  opacity: 0; }

.task-list-item .task-view .edit-task__btn:hover {
  transform: scale(1.3); }

.task-list-item .task-view:hover .subtask-adding-view__btn {
  cursor: pointer;
  opacity: 1; }

.task-list-item .task-view:hover .delete-task__btn {
  cursor: pointer;
  opacity: 1; }

.task-list-item .task-view:hover .edit-task__btn {
  cursor: pointer;
  opacity: 1; }

.subtask-adding-view {
  display: none; }

.subtask-adding-view.on {
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-row: 1fr; }

.subtask-input {
  width: 100%;
  outline: none;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin-bottom: 3rem;
  background-color: transparent;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 400;
  color: #a9b0ac;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border: 0.1rem solid #00b4d8;
  border-top: none;
  transition: all .3s; }
  .subtask-input:focus {
    box-shadow: 0 1rem 1rem 0.3rem rgba(0, 0, 0, 0.3);
    border: 0.1rem solid #00b4d8;
    border-top: none; }

.subtask-input::placeholder {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  color: #999; }

.add-subtask__btn {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 100;
  color: #999;
  text-align: center;
  cursor: pointer;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  transform: translate(-1rem, -1.6rem);
  transition: all .3s ease-in-out; }
  .add-subtask__btn:hover {
    color: #00b4d8; }

.subtask-remove-view__btn {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 100;
  color: #999;
  text-align: center;
  cursor: pointer;
  grid-column: 3 / 4;
  grid-row: 1 / -1;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  transform: translate(-1rem, -1.6rem);
  transition: all .3s ease-in-out; }
  .subtask-remove-view__btn:hover {
    color: #00b4d8; }
