<main class="main-grid">
  <section class="left">
    <div class="project-grid">
      <div class="project-content" *ngIf="currentRoute === 'word_search_game'">
        <div class="projects-links">
          <a href="https://pokemon-ws-game.netlify.app/" target="blank"
            ><span class="projects-icon"><i class="fas fa-desktop"></i></span
          ></a>
          <a
            href="https://github.com/diegomouradev/pokemon-ws-game"
            target="blank"
            ><span class="projects-icon"><i class="fab fa-github"></i></span
          ></a>
        </div>
        <img
          class="project-img img"
          [ngClass]="animationOn ? 'fade-in-faster' : ''"
          src="https://res.cloudinary.com/djot2xc6w/image/upload/c_scale,w_604/v1634652607/diegomouradev/images/pokemon-word-search.webp"
          alt=""
        />

        <div class="project" [ngClass]="animationOn ? 'slide-in-left' : ''">
          <h2 class="project-title">Word search game</h2>
          <p class="project-meta">Angular 10 + pokeAPI</p>
          <p class="project-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
            aliquid pariatur, distinctio iusto repudiandae magni, deserunt et
            dolorum amet eligendi, officia sunt laboriosam minima. Error dolorum
            rem distinctio animi commodi? Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Eos nulla delectus quisquam. Voluptas
            illo quibusdam quasi aperiam? Excepturi consequatur ipsam dolorum
            nam omnis! Ducimus beatae ullam esse, molestiae reiciendis animi!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
            aliquid pariatur, distinctio iusto repudiandae magni, deserunt et
            dolorum amet eligendi, officia sunt laboriosam minima. Error dolorum
            rem distinctio animi commodi? Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Eos nulla delectus quisquam. Voluptas
            illo quibusdam quasi aperiam? Excepturi consequatur ipsam dolorum
            nam omnis! Ducimus beatae ullam esse, molestiae reiciendis animi!
          </p>
        </div>
      </div>
      <div class="project-content" *ngIf="currentRoute === 'memory_game'">
        <img
          class="project-img img"
          [ngClass]="animationOn ? 'fade-in-faster' : ''"
          src="https://res.cloudinary.com/djot2xc6w/image/upload/c_scale,w_604/v1634652608/diegomouradev/images/memory-game.webp"
          alt=""
        />

        <div class="project" [ngClass]="animationOn ? 'slide-in-left' : ''">
          <h2 class="project-title">Memory Game</h2>
          <p class="project-meta">React + pokeAPI</p>
          <p class="project-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
            aliquid pariatur, distinctio iusto repudiandae magni, deserunt et
            dolorum amet eligendi, officia sunt laboriosam minima. Error dolorum
            rem distinctio animi commodi? Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Eos nulla delectus quisquam. Voluptas
            illo quibusdam quasi aperiam? Excepturi consequatur ipsam dolorum
            nam omnis! Ducimus beatae ullam esse, molestiae reiciendis animi!
          </p>
        </div>
      </div>
      <div class="project-content" *ngIf="currentRoute === 'nested_todos'">
        <img
          class="project-img img"
          [ngClass]="animationOn ? 'fade-in-faster' : ''"
          src="https://res.cloudinary.com/djot2xc6w/image/upload/v1634652607/diegomouradev/images/nested-todo-app.webp"
          alt=""
        />

        <div class="project" [ngClass]="animationOn ? 'slide-in-left' : ''">
          <h2 class="project-title">NestedTodos</h2>
          <p class="project-meta">VanillaJs + localStorage</p>
          <p class="project-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
            aliquid pariatur, distinctio iusto repudiandae magni, deserunt et
            dolorum amet eligendi, officia sunt laboriosam minima. Error dolorum
            rem distinctio animi commodi? Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Eos nulla delectus quisquam. Voluptas
            illo quibusdam quasi aperiam? Excepturi consequatur ipsam dolorum
            nam omnis! Ducimus beatae ullam esse, molestiae reiciendis animi!
          </p>
        </div>
      </div>
      <div class="project-content" *ngIf="currentRoute === 'todo_tracker'">
        <img
          class="project-img img"
          [ngClass]="animationOn ? 'fade-in-faster' : ''"
          src="https://res.cloudinary.com/djot2xc6w/image/upload/c_scale,w_604/v1634652607/diegomouradev/images/todo-tracker.webp"
          alt=""
        />

        <div class="project" [ngClass]="animationOn ? 'slide-in-left' : ''">
          <h2 class="project-title">Todo Tracker</h2>
          <p class="project-meta">Angular12 + localStorage</p>
          <p class="project-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
            aliquid pariatur, distinctio iusto repudiandae magni, deserunt et
            dolorum amet eligendi, officia sunt laboriosam minima. Error dolorum
            rem distinctio animi commodi? Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Eos nulla delectus quisquam. Voluptas
            illo quibusdam quasi aperiam? Excepturi consequatur ipsam dolorum
            nam omnis! Ducimus beatae ullam esse, molestiae reiciendis animi!
          </p>
        </div>
      </div>
      <div class="project-content" *ngIf="currentRoute === 'django_heroku'">
        <img
          class="project-img img"
          [ngClass]="animationOn ? 'fade-in-faster' : ''"
          src="https://res.cloudinary.com/djot2xc6w/image/upload/v1634652607/diegomouradev/images/django-portfolio.webp"
          alt=""
        />

        <div class="project" [ngClass]="animationOn ? 'slide-in-left' : ''">
          <div class="projects-links">
            <a href="https://diegomouradev.herokuapp.com/" target="blank"
              ><span class="projects-icon"><i class="fas fa-desktop"></i></span
            ></a>
            <a
              href="https://github.com/diegomouradev/portfolio_heroku"
              target="blank"
              ><span class="projects-icon"><i class="fab fa-github"></i></span
            ></a>
          </div>
          <h2 class="project-title">Django Portfolio</h2>
          <p class="project-meta">Djago + Heroku</p>
          <p class="project-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore
            aliquid pariatur, distinctio iusto repudiandae magni, deserunt et
            dolorum amet eligendi, officia sunt laboriosam minima. Error dolorum
            rem distinctio animi commodi? Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Eos nulla delectus quisquam. Voluptas
            illo quibusdam quasi aperiam? Excepturi consequatur ipsam dolorum
            nam omnis! Ducimus beatae ullam esse, molestiae reiciendis animi!
          </p>
        </div>
      </div>
      <img
        class="project-heading"
        src="https://res.cloudinary.com/djot2xc6w/image/upload/v1634652607/diegomouradev/images/projects-title.webp"
        alt=""
      />
    </div>
  </section>

  <section class="right">
    <ul class="projects-list">
      <li
        class="projects-item"
        [ngClass]="currentRoute === 'word_search_game' ? 'active' : ''"
      >
        <a routerLink="/projects/word-search-game">
          <div class="projects-info">
            <h2 class="projects-title">Word search game</h2>
            <p class="projects-meta">Angular 10 + pokeAPI</p>
            <p class="projects-description">
              Error aperiam veniam dicta officia ducimus tempore ex eius,
              dolorum esse accusantium enim, id ut vitae a assumenda?
            </p>
          </div>
        </a>
      </li>
      <li
        class="projects-item"
        [ngClass]="currentRoute === 'memory_game' ? 'active' : ''"
      >
        <a routerLink="/projects/memory-game">
          <div class="projects-info">
            <h2 class="projects-title">Memory Game</h2>
            <p class="projects-meta">React + pokeAPI</p>
            <p class="projects-description">
              Error aperiam veniam dicta officia ducimus tempore ex eius,
              dolorum esse accusantium enim, id ut vitae a assumenda?
            </p>
          </div>
        </a>
        <div class="projects-links">
          <a
            href="https://pokemon-memory-game-react.netlify.app/"
            target="blank"
            ><span class="projects-icon"><i class="fas fa-desktop"></i></span
          ></a>
          <a
            href="https://github.com/diegomouradev/pokemon-memory-game"
            target="blank"
            ><span class="projects-icon"><i class="fab fa-github"></i></span
          ></a>
        </div>
      </li>
      <li
        class="projects-item"
        [ngClass]="currentRoute === 'nested_todos' ? 'active' : ''"
      >
        <a routerLink="/projects/nested-todos">
          <div class="projects-info">
            <h2 class="projects-title">NestedTodos</h2>
            <p class="projects-meta">Vanilla JS + localStorage</p>
            <p class="projects-description">
              Error aperiam veniam dicta officia ducimus tempore ex eius,
              dolorum esse accusantium enim, id ut vitae a assumenda?
            </p>
          </div>
        </a>
        <div class="projects-links">
          <a href="https://nestedtodos.netlify.app/view/#/all" target="blank"
            ><span class="projects-icon"><i class="fas fa-desktop"></i></span
          ></a>
          <a href="https://github.com/diegomouradev/nestedTodos" target="blank"
            ><span class="projects-icon"><i class="fab fa-github"></i></span
          ></a>
        </div>
      </li>
      <li
        class="projects-item"
        [ngClass]="currentRoute === 'todo_tracker' ? 'active' : ''"
      >
        <a routerLink="/projects/todo-tracker">
          <div class="projects-info">
            <h2 class="projects-title">Todo Tracker</h2>
            <p class="projects-meta">Angular 12</p>
            <p class="projects-description">
              Error aperiam veniam dicta officia ducimus tempore ex eius,
              dolorum esse accusantium enim, id ut vitae a assumenda?
            </p>
          </div>
        </a>
        <div class="projects-links">
          <a href="https://todo-app-angular-diego.netlify.app/" target="blank"
            ><span class="projects-icon"><i class="fas fa-desktop"></i></span
          ></a>
          <a
            href="https://github.com/diegomouradev/todo-app-angular"
            target="blank"
            ><span class="projects-icon"><i class="fab fa-github"></i></span
          ></a>
        </div>
      </li>
      <li
        class="projects-item"
        [ngClass]="currentRoute === 'django_heroku' ? 'active' : ''"
      >
        <a routerLink="/projects/django-portfolio">
          <div class="projects-info">
            <h2 class="projects-title">Django Portfolio</h2>
            <p class="projects-meta">Django + Heroku</p>
            <p class="projects-description">
              Error aperiam veniam dicta officia ducimus tempore ex eius,
              dolorum esse accusantium enim, id ut vitae a assumenda?
            </p>
          </div>
        </a>
      </li>
    </ul>
  </section>
</main>
