@import "/src/styles/animations";
@import "/src/styles/mixins";
@import "/src/styles/variables";
@import "/src/styles/typography";

.projects-landing {
  &__main-content {
    width: 100vw;
    height: 100vh;
    background-color: $main-blue;
  }

  &__page-title {
    display: block;
    color: $main-green;
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5rem 5rem;
  }
}

.logos {
  &__logo {
    width: 17rem;
    margin: 2rem;
  }

  &__logo img {
    width: 100%;
  }
}

.logos__logo:not(:nth-child(5)) {
  margin-right: 5rem;
}
