<main class="projects-landing__main-content">
  <h2 class="projects-landing__page-title">Projects</h2>

  <div class="projects-landing__logos">
    <div class="logos__logo">
      <img
        src="../../../../assets/images/logos/logo-angular.png"
        srcset="../../../../assets/images/logos/logo-angular@2x.png x2"
        alt="logo angular"
      />
    </div>

    <div class="logos__logo">
      <img
        src="../../../../assets/images/logos/logo-django.png"
        srcset="../../../../assets/images/logos/logo-django@2x.png x2"
        alt="logo django"
      />
    </div>

    <div class="logos__logo">
      <img
        src="../../../../assets/images/logos/logo-react.png"
        srcset="../../../../assets/images/logos/logo-react@2x.png x2"
        alt="logo react"
      />
    </div>
    <div class="logos__logo">
      <img
        src="../../../../assets/images/logos/logo-node.png"
        srcset="../../../../assets/images/logos/logo-node@2x.png x2"
        alt="logo node"
      />
    </div>
    <div class="logos__logo">
      <img
        src="../../../../assets/images/logos/logo-js.png"
        srcset="../../../../assets/images/logos/logo-js@2x.png x2"
        alt="logo js"
      />
    </div>
  </div>
</main>
