/* <link rel="stylesheet" href="https://use.typekit.net/paa4nqi.css">

font-family: calling-code, sans-serif;
font-style: normal;
font-weight: 400;


Calling Code Italic

    font-family: calling-code, sans-serif;

    font-weight: 400;

    font-style: italic;

Calling Code Regular

    font-family: calling-code, sans-serif;

    font-weight: 400;

    font-style: normal;

Calling Code Bold Italic

    font-family: calling-code, sans-serif;

    font-weight: 700;

    font-style: italic;

Calling Code Bold

    font-family: calling-code, sans-serif;

    font-weight: 700;

    font-style: normal;
*/