<main class="main-bg">
  <p class="main-text">
    I’m a self-taught programmer, fuelled purely by my love of the craft.
    Currently powering RBC Dominions Securities as a part of Wealth Management
    Canada, I make it possible for our digital branding team to tell our
    Investment Advisors’ stories by developing pixel-perfect, mobile-ready
    websites. I also help push AODA efforts by writing applications that
    generate reports and author remediation maps using NodeJS and libraries such
    as PuppeterJS. I enjoy hiking, camping, and exercising my programming skills
    in my spare time.
  </p>
</main>
