// font-family: proxima-nova,sans-serif;
// font-weight: 900;
// font-style: italic;

// font-family: proxima-nova,sans-serif;
// font-weight: 700;
// font-style: normal;

// font-family: proxima-nova,sans-serif;
// font-weight: 100;
// font-style: normal;

// font-family: proxima-nova,sans-serif;
// font-weight: 300;
// font-style: normal;

// font-family: proxima-nova,sans-serif;
// font-weight: 300;
// font-style: italic;

$acent-yellow: #f5cb5c;
$acent-turquoise: #00b4d8;
$acent-turquoise-light: #90e0ef;

$button-gradient: linear-gradient(to right, #b2fefa, #0ed2f7);


$grey-light-1: #f7f7f7;
$grey-light-2: rgb(237, 237, 237);
$grey-light-3: #a9b0ac;

$grey-dark-1: #777;
$grey-dark-2: #999;
$grey-dark-3: #333;
$grey-dark-4: #242423;

$color-white: #fff;
$color-black: #000;