@import "/src/styles/animations";
@import "/src/styles/mixins";
@import "/src/styles/variables";
@import "/src/styles/typography";
.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 11rem;

  position: absolute;
  top: -21rem;
  left: 0;

  background-color: $dark-grey-1;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

  &__active {
    position: absolute;
    top: 0rem;
    z-index: 100;

    @include respond(wid-768) {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.navigation {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 0.5fr;

  &__links {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    justify-content: space-around;
    align-items: center;

    @include respond(wid-768) {
      width: unset;
      flex-wrap: unset;
      flex-direction: column;
    }
  }

  &__link {
    & a {
      color: $light-grey;
      font-size: 3rem;
      font-weight: 300;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__active {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      reverse both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;

    @include respond(wid-768) {
      display: block;
      grid-template-columns: unset;
    }
  }
}

.main-header__active ~ .navigation__toggle {
  background-color: $grey;
}

.navigation {
  &__toggle {
    position: absolute;
    top: 3rem;
    right: 3rem;

    width: 5rem;
    height: 5rem;

    background-color: $grey;
    border-radius: 100%;
    box-shadow: 0.1rem 0.1rem 1.3rem rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 200;
  }

  &__toggle-hamburger {
    width: 2.8rem;
    height: 0.2rem;
    border-bottom: 0.3rem solid $accent-green;
    position: relative;

    &::before {
      content: " ";
      width: 100%;
      border-bottom: 0.3rem solid $accent-green;
      position: absolute;
      top: -1rem;
      left: 0;
    }
    &::after {
      content: " ";
      width: 100%;
      border-bottom: 0.3rem solid $accent-green;
      position: absolute;
      top: 1rem;
      left: 0;
    }
  }
}

.navigation__link a.active {
  text-decoration: underline;
}

.social {
  &__links {
    grid-column: 2/3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  &__link {
    & a {
      color: $light-grey;
      font-size: 3rem;
      font-weight: 300;
      margin-right: 2rem;
    }
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-top 0.5s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
